body{
            background-color: #E6F6F6;
            }
        hr{

            border-style: none;
            border-top-style: dotted;
            border-color: #FFD371;
            border-width: 5px;
            height: 0px;


           }
        h1{
            color: #66BFBF;
        }
        h3{
            color: #66BFBF;
        }
        img{
            background-color: #E6F6F6;
            border:0px;

        }